<?xml version="1.0"?>
<config>
    <modules>
        <Visma_Richsnippets>
            <version>2.0.0</version>
        </Visma_Richsnippets>
    </modules>

    <global>
        <models>
            <richsnippets>
                <class>Visma_Richsnippets_Model</class>
            </richsnippets>
        </models>
        <blocks>
            <richsnippets>
                <class>Visma_Richsnippets_Block</class>
            </richsnippets>
        </blocks>
        <helpers>
            <richsnippets>
                <class>Visma_Richsnippets_Helper</class>
            </richsnippets>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates module="Visma_Richsnippets">
                <richsnippets>
                    <file>richsnippets.xml</file>
                </richsnippets>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <richsnippets>
                                            <title>Rich Snippets</title>
                                        </richsnippets>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <richsnippets>
            <general>
                <enabled>1</enabled>
                <review>1</review>
            </general>
            <attributes>
                <manufacturer>manufacturer</manufacturer>
                <color>color</color>
                <model></model>
            </attributes>
        </richsnippets>
    </default>
</config>